doctype html
html(lang="en")
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div#placeholder
      button#add &#10010;
      ul.connected.delete 
      ul.connected.main
      ul.connected.done
  block content 
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/jquery-ui.min.js')
  script(src='/javascripts/layout.js')
